/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Sidebar
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: black;
    color: antiquewhite;
    
}

h1,
h2,
h3 {
    
    font-family: "Gideon Roman", serif;
    font-weight: 600;
    font-style: normal;
      
       
    
}



/* Elements
--------------------------------------------- */
ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

/* Links
--------------------------------------------- */
a {
    text-decoration: none;
    color: antiquewhite;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* START -- STYLES FOR MOBILE MENU */
.site-header {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.site-logo {
    max-width: 6rem;
    margin: 1rem;
    
}

.ham-menu {
    height: 3.125rem;
    width: 3.125rem;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;


}

.ham-menu span {
    height: .3125rem;
    width: 100%;
    background-color: antiquewhite;
    border: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}





.nav-bar-menu {
    background-color: rgb(0, 0, 0, .5);
    height: 100vh;
    width: 100%;
    max-width: 12.5rem;
    position: fixed;
    top: 0;
    right: -200px;
    z-index: 3;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
    line-height: 3rem;

}

.nav-bar-menu-desktop {
    display: none;
}

.nav-bar-menu.active {
    right: 0;
}

.nav-bar-menu a {
    color: antiquewhite;
}


/* END -- STYLES FOR MOBILE MENU */

@media (min-width: 50em) {
.site-header{
    background-color: rgb(0, 0, 0, .5);
}

.nav-bar-menu {
    display: none;
}

.ham-menu {
    display: none;
}

.nav-bar-menu-desktop{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.nav-bar-menu-desktop li {
    padding: .5rem 1.5rem;
    font-size: 2rem;
}

}


/* Main
--------------------------------------------- */


.page-header .banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: -1;
    object-fit: cover;
    object-position: top, left;
    
}

.page-header h1 {
    display: block;
    color: rgb(173, 104, 13);
    font-weight: 900;
    font-size: 5rem;
    line-height: 4rem;
    backdrop-filter: blur(2px);
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.main-content{
    margin-top: 100vh;
    padding-top: 0;
    
}

@media (min-width: 50em){
.page-header h1 {
    font-size: 7rem;
}

}


/* Sidebar
--------------------------------------------- */


/* Footer
--------------------------------------------- */
